# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual env
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/*
!media/.gitkeep
staticfiles/

# Env / secrets
.env

# Editors / OS
.vscode/
.idea/
.DS_Store

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
